In [1]:
from util.table import table
from util.region import *
from util.Daegu import Daegu
from util.Gangwon import Gangwon
from util.Seoul import Seoul
from util.KST import kst_time
from util.collector import collector

In [2]:
from IPython.display import display, Markdown, Latex

In [3]:
table = table()

In [4]:
regions = [Seoul().collect, 
               Daegu().collect,    
               busan,   
               daejeon,
               gwangju,
               ulsan,
               incheon,
               sejong,
               gyeongbuk,
               gyeongnam,
               gyeonggi, 
               chungbuk,
               chungnam,
               gangwon,
               jeonbuk,
               jeonnam,
               jeju,
        ]

In [5]:
data = collector(regions)

# 강남구 : 12
# 강동구 : 5
# 강북구 : 4
# 강서구 : 6
# 관악구 : 10
# 광진구 : 2
# 구로구 : 9
# 금천구 : 2
# 노원구 : 10
# 도봉구 : 1
# 동대문구 : 11
# 동작구 : 5
# 마포구 : 1
# 서대문구 : 4
# 서초구 : 5
# 성동구 : 3
# 성북구 : 2
# 송파구 : 13
# 양천구 : 10
# 영등포구 : 6
# 용산구 : 1
# 은평구 : 11
# 종로구 : 11
# 중구 : 1
# 중랑구 : 2
# 기타 : 17
pass :  서울
#  북구 :  640
#  달서구 :  1454
#  남구 :  1282
#  서구 :  366
#  수성구 :  880
#  중구 :  207
#  동구 :  567
#  달성군 :  361
pass :  대구
pass :  부산
pass :  대전
pass :  광주
pass :  울산
pass :  인천
pass :  세종
pass :  경상북도
pass :  경상남도
pass :  경기도
pass :  충청북도
pass :  충청남도
pass :  강원도
pass :  전라북도
pass :  전라남도
pass :  제주도

In [6]:
display(Markdown('''
{}
'''.format(table.generate(data))))

Save

|  지역  | 확진자 |  격리자  |  사망  |  의사환자  |  검사중  |  결과음성  |  자가격리자  |  감시중  |  감시해제  |  퇴원  |
|:------:|:------:|:--------:|:--------:|:----------:|:--------:|:----------------:|:------------:|:--------:|:----------:|:--:|
|**총합**|**7,576**|**7,243**|**56**|**61,028**|**11,376**|**67,582**|**19,797**|**7,629**|**8,995**|**274**|
|서울|168|139|0|33,532|3,634|29,898|4,782|1,460|3,322|29|
|대구|5,757|5,601|39|-|-|-|11,444|-|-|117|
|부산|89|69|-|-|-|-|-|-|-|20|
|대전|18|15|0|-|197|4,617|139|139|230|3|
|광주|15|9|-|-|-|-|3|-|-|3|
|울산|23|21|-|3,981|3,979|2|-|352|208|2|
|인천|23|21|-|10,919|492|10,427|-|-|-|2|
|세종|10|10|-|-|25|1,403|-|-|-|-|
|경상북도|1,055|983|16|-|810|112|-|5,388|3,778|56|
|경상남도|78|74|-|6,827|536|6,291|844|-|-|4|
|경기도|162|137|1|-|-|-|-|-|-|24|
|충청북도|27|24|-|5,769|293|5,476|1,542|254|1,288|3|
|충청남도|108|107|0|-|791|8,241|516|-|-|1|
|강원도|28|22|-|-|519|-|476|-|-|6|
|전라북도|7|5|-|-|-|-|20|-|-|2|
|전라남도|4|3|-|-|27|1,115|-|36|169|1|
|제주도|4|3|0|-|73|-|31|-|-|1|
|**총합**|**7,576**|**7,243**|**56**|**61,028**|**11,376**|**67,582**|**19,797**|**7,629**|**8,995**|**274**|

In [7]:
readme = open('README.md', mode='wt', encoding='utf-8')
readme.write('''
## 대한민국 우한 코로나 바이러스 감염자 실시간 통계
{0} KST

** 부산, 경상북도 홈페이지에 표시된 수치가 질병관리본부 발표보다 적습니다. **

각 **시/도/구/군청** 사이트에 공개되어 있는 **공식 자료**를 수합하여 만든 통계입니다.
질병관리본부에서 발표되는 공식 수치와는 다를 수 있습니다.

{1}

#1 확진자(중국인) 제외
'''.format(kst_time(), table.Chart))
readme.close()

In [ ]:
#region_list = [seoul(), 
#               Daegu().collect(),    
#               busan(),   
#               daejeon(),
#               gwangju(infected=13, quarantine=9, self_quarantine=1, care=3),
#               ulsan(),
#               incheon(),
#               sejong(),
#               gyeongbuk(),
#               gyeongnam(),
#               gyeonggi(), 
#               chungbuk(),
#               chungnam(),
#               gangwon(),
#               jeonbuk(),
#               jeonnam(),
#               jeju(),
#        ]

In [8]:
#table.DataFrame.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>확진자</th>\n      <th>격리자</th>\n      <th>사망</th>\n      <th>의사환자</th>\n      <th>검사중</th>\n      <th>결과음성</th>\n      <th>자가격리자</th>\n      <th>감시중</th>\n      <th>감시해제</th>\n      <th>퇴원</th>\n    </tr>\n    <tr>\n      <th>지역</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>서울</th>\n      <td>168</td>\n      <td>139</td>\n      <td>0</td>\n      <td>33532</td>\n      <td>3634</td>\n      <td>29898</td>\n      <td>4782</td>\n      <td>1460</td>\n      <td>3322</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <th>대구</th>\n      <td>5757</td>\n      <td>5601</td>\n      <td>39</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>11444</td>\n      <td>-</td>\n      <td>-</td>\n      <td>117</td>\n    </tr>\n    <tr>\n      <th>부산</th>\n      <td>89</td>\n      <td>69</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>대전</th>\n      <td>18</td>\n      <td>15</td>\n      <td>0</td>\n      <td>-</td>\n      <td>197</td>\n      <td>4617</td>\n      <td>139</td>\n      <td>139</td>\n      <td>230</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>광주</th>\n      <td>15</td>\n      <td>9</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>3</td>\n      <td>-</td>\n      <td>-</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>울산</th>\n      <td>23</td>\n      <td>21</td>\n      <td>-</td>\n      <td>3981</td>\n      <td>3979</td>\n      <td>2</td>\n      <td>-</td>\n      <td>352</td>\n      <td>208</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>인천</th>\n      <td>23</td>\n      <td>21</td>\n      <td>-</td>\n      <td>10919</td>\n      <td>492</td>\n      <td>10427</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>세종</th>\n      <td>10</td>\n      <td>10</td>\n      <td>-</td>\n      <td>-</td>\n      <td>25</td>\n      <td>1403</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>경상북도</th>\n      <td>1055</td>\n      <td>983</td>\n      <td>16</td>\n      <td>-</td>\n      <td>810</td>\n      <td>112</td>\n      <td>-</td>\n      <td>5388</td>\n      <td>3778</td>\n      <td>56</td>\n    </tr>\n    <tr>\n      <th>경상남도</th>\n      <td>78</td>\n      <td>74</td>\n      <td>-</td>\n      <td>6827</td>\n      <td>536</td>\n      <td>6291</td>\n      <td>844</td>\n      <td>-</td>\n      <td>-</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>경기도</th>\n      <td>162</td>\n      <td>137</td>\n      <td>1</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>충청북도</th>\n      <td>27</td>\n      <td>24</td>\n      <td>-</td>\n      <td>5769</td>\n      <td>293</td>\n      <td>5476</td>\n      <td>1542</td>\n      <td>254</td>\n      <td>1288</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>충청남도</th>\n      <td>108</td>\n      <td>107</td>\n      <td>0</td>\n      <td>-</td>\n      <td>791</td>\n      <td>8241</td>\n      <td>516</td>\n      <td>-</td>\n      <td>-</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>강원도</th>\n      <td>28</td>\n      <td>22</td>\n      <td>-</td>\n      <td>-</td>\n      <td>519</td>\n      <td>-</td>\n      <td>476</td>\n      <td>-</td>\n      <td>-</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>전라북도</th>\n      <td>7</td>\n      <td>5</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>20</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>전라남도</th>\n      <td>4</td>\n      <td>3</td>\n      <td>-</td>\n      <td>-</td>\n      <td>27</td>\n      <td>1115</td>\n      <td>-</td>\n      <td>36</td>\n      <td>169</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>제주도</th>\n      <td>4</td>\n      <td>3</td>\n      <td>0</td>\n      <td>-</td>\n      <td>73</td>\n      <td>-</td>\n      <td>31</td>\n      <td>-</td>\n      <td>-</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>총합</th>\n      <td>7576</td>\n      <td>7243</td>\n      <td>56</td>\n      <td>61028</td>\n      <td>11376</td>\n      <td>67582</td>\n      <td>19797</td>\n      <td>7629</td>\n      <td>8995</td>\n      <td>274</td>\n    </tr>\n  </tbody>\n</table>'